/**
 * @description
 *   Border radius variables
 */

$border-radius-none: 0px;
$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-ms: 10px;
$border-radius-md: 16px;
$border-radius-md-lg: 26px;
$border-radius-lg: 32px;
$border-radius-xl: 40px;
$border-radius-pill: 100px;
