/**
 * @description
 *   Background color variables
 */
$color-background-green: #005b56;
$color-background-light-green: #00cc99;
$color-background-white-light: #f5f5f5;
$color-background-black: #000000;
$color-background-dark: #0c1f5e;
$color-background-inactive: #e6e8ee;
$color-background-light: #f5f6f9;
$color-background-white: #ffffff;
$color-background-purple: #c12f93;
$color-background-shadow: #e1e4ff;
$color-background-white-variant: #f9f4ff;
$color-background-yellow: #ffc800;

$color-background-red: #ff7676;
$color-background-gray-peach: #efefef;
$color-background-cinnabar: #e54949;
$color-background-white-smoke: #efefef;
$color-background-light-green: #52b9a5;
$color-background-light-white: #eaeaea;
$color-background-teal: teal;
$color-background-silver: #c8c8c8;
$color-background-seashell: #f1f1f1;
$color-background-nobel: #b7b7b7;
$color-background-gray: #888888;

$color-background-primary-tida-pool: #005b56;
$color-background-primary-caribean-green: #00cc99;
$color-background-primary-philippe-yellow: #ffc800;
$color-background-secondary-lemon-tart: #ffde66;
$color-background-secondary-lead-glass: #fffae6;
$color-background-secondary-apricot-sherbet: #faca9a;
$color-background-night-tuquoise: #003734;
$color-background-myrtle-green: #337c78;
$color-background-green-room: #005b56;
$color-background-whispering-blue: #ccdedd;
$color-background-ocean-in-a-bowl: #66e0c2;
$color-background-tinted-ice: #ccf5eb;
$color-background-grayscale-lead: #272727;
$color-background-grayscale-goshawk-grey: #444444;
$color-background-grayscale-sonic-silver: #767676;
$color-background-grayscale-cerebral-grey: #cccccc;
$color-background-grayscale-super-silver: #f0f0f0;
$color-background-grayscale-alabaster: #fafafa;
$color-background-grayscale-white: #ffffff;
$color-background-alert: #f59535;
$color-background-error: #e54949;
$color-background-success: #95ebbd;
$color-background-info: #4a80ff;
$color-background-ghost-white: #f9f9f9;
$color-background-transparent: transparent;
$color-background-ocean-green: #51d890;
$color-background-gren-light: #f3fffc;
$color-background-blueberry: #4a80ff;
$color-background-bangladesh-green: #005b56;
$color-background-dove-gray: #707070;
$color-background-hover-menu: #e6faf5;
