/**
 * @description
 *   Border color variables
 */
$color-border-default: transparent;
$color-border-btn: #005b56;
$color-border-light-green: #52b9a5;
$color-border-light-grey: #efefef;
$color-border-light-silver: #e0dddd;
$color-border-light-alert: #e54949;
$color-border-container: null;
$color-border-input: null;
$color-border-mint-tea: #adede0;
$color-border-green-strong: #83d8c7;
$color-border-white-light: #ccdedd;
$color-border-anti-flash-white: #f0f0f0;
$color-border-malibu: #7da4ff;
