/**
 * @description
 *   Brand color variables
 */

$color-brand-primary-dark: null;
$color-brand-primary-default: null;
$color-brand-primary-light: null;

$color-brand-secondary-dark: null;
$color-brand-secondary-default: null;
$color-brand-secondary-light: null;
