$color-text-green: #005b56;
$color-text-light-green: #00cc99;
$color-text-black: #000000;
$color-text-white: #ffffff;
$color-text-gray-smoke: #767676;
$color-text-outer-space: #484848;
$color-text-gray-space: #707070;
$color-text-white-space: #cccccc;

$color-text-gray-baltic-sea: #272727;
$color-text-gray-sikver: #aaaaaa;
$color-text-silver-smoke: #838383;
$color-aqua-green: #83d8c7;
$color-aqua-green-ligth: #318e89;
$color-aqua-green-strong: #52b9a5;
$color-aqua-green-link: #005b56;
$color-aqua-green-medium: #005b56;
$color-text-black-ligth: #222222;
$color-text-alert-ligth: #e54949;
$color-text-gray-ligth: #767676;
$color-text-gray-min-ligth: #aaaaaa;
$color-text-default: #000000a6;
$color-text-iceland-poppy: #f59535;
$color-text-ocean-green: #51d890;
$color-text-mine-shaft: #303030;
$color-text-alto: #d9d9d9;
$color-text-input-focus: #d6e8ff;
